.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000a40;
    height: 400px;
}

.container_4 {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.info_1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
}

.cont {
    width: 25%;
}

.r1 img {
    margin-right: 15px;
}

.r1 h3 {
    color: #9CA3AF;
}

.r2, .r3 {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r4 {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r2 h2, .r4 h2, .r3 h2 {
    color: white;
}

.r2 a, .r3 p {
    color: #9CA3AF;
}

.r2 a:hover, .r3 p:hover {
    color: blue;
}

.t1 {
    border-radius: 20px;
    border: 0;
    width: 80%;
    height: 30%;
}

.t2 {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    height: 30%;
    background-color: red;
    width: 80%;
}

* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #000a40;
    border-bottom: solid 2px #010b50;
}

a {
    text-decoration: none;
}

.navbar a:hover {
    color: #2563EB;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navbar a {
    font-weight: 800;
    font-family: "Book Antiqua";
    color: white;
}

.community {
    width: 200px;
}

.button {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    background-color: red;
    color: white;
}

/*main content*/
.main_content {
    height: 1700px;
    width: 80%;
}

.container_1 {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #282828;
    background-color: #111111;
}

.container_1_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 80%;
    height: 60%;
}

.container_1_content h1 {
    font-size: 60px;
    font-family: "Bookman Old Style";
}

.container_2 {
    color: white;
    margin-top: 30px;
    height: 50px;
    border-bottom: #a6a60b 2px solid;
}

.container_3 {
    justify-content: space-around;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 750px;
}

.main {
    height: 300px;
    border: #8f8f00 1px solid;
    border-radius: 20px;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_child {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: #01245e 1px solid;
}

.display_level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border-radius: 10px;
    height: 20px;
}

.main_big {
    color: #8f8f00;
    font-size: 35px;
}

.main_small {
    color: white;
}

.main_span {
    color: #9CA3AF;
}

.advanced {
    background-color: red;
    color: white;
}

.content_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.main_2 {
    gap: 20px;
    height: 350px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box:hover {
    border: #8f8f00 1px solid;
    margin-bottom: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    height: 350px;
    border-radius: 20px;
    background-color: #111827;
}

.image_small {
    width: auto;
    height: 50%;
    border-radius: 10px;
    border: #01245e 1px solid;
}

.text_content {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_content_child {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intermediate {
    background-color: #8f8f00 ;
    color: white;
}

.beginner {
    color: white;
    background-color: #028145;
}

.text_content_child h2 {
    color: white;
}

.text_content_child p {
    color: #9CA3AF;

}

.container_5 {
    color: white;
    margin-top: 30px;
    height: 50px;
    border-bottom: #525252 2px solid;
}

.container_6 {
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box_1 {
    border-radius: 20px;
    background-color: #111827;
    width: 100%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.box_1.beginner{
    border: 1px #028145 solid;
    border-left: 5px #028145 solid;
}
.box_1.advanced{
    border: 1px #930000 solid;
    border-left: 5px #930000 solid;
}
.box_1_child {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;

}

.box_1_child_content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_1_child_content_rating {
    height: 100%;
}

.box_1_child_content h2 {
    color: white;
}

.box_1_child_content p {
    color: #9CA3AF;
}
.beginner:hover .h2{
    color: #00ff88;
}

.advanced:hover .h2{
    color: red;
}
