/*default style*/

* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    background: #151515;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #000a40;
    border-bottom: solid 2px #010b50;
}

a {
    text-decoration: none;
}

.navbar a:hover {
    color: #2563EB;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navbar a {
    font-weight: 800;
    font-family: "Book Antiqua";
    color: white;
}

.community {
    width: 200px;
}

.button {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    background-color: red;
    color: white;
}

/*main content*/

.main_content {
    width: 80%;
    height: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*1 container*/
.container_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#011a4d 10%, #111827 70%);
    margin-top: 140px;
    border-radius: 20px;
    width: 100%;
    height: 500px;
}

.box {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.q1 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 20px;
    height: 30px;
    color: white;
    background-color: green;
}

.container_1 h1 {
    font-size: 40px;
    color: white;
    width: 100%;
}

.q2 {
    color: #9CA3AF;
    font-size: 17px;
    width: 100%;
}

.container_1 a {
    color: white;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: #2563EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_1 a:hover {
    background-color: rgba(37, 99, 235, 0.83);
}

/*2 container*/
.container_2 {
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #111827;
    width: 280px;
    height: 280px;
}

.item:hover {
    background-color: #0d1548;
    padding: 5px;
}

.item:hover .w1 {
    width: 80%;
    height: 70%;
}

.item:hover .w1 h1 {
    font-size: 35px;
}

.item:hover .w1 p {
    font-size: 18px;
}

.size {
    font-size: 50px;
}

.item:hover .size {
    font-size: 55px;
}

.item.box_1 {
    border-top: 8px blue solid;
}

.item.box_2 {
    border-top: 8px red solid;
}

.item.box_3 {
    border-top: 8px #a6a60b solid;
}

.item.box_4 {
    border-top: 8px #000091 solid;
}

.w1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 73%;
    height: 65%;
}

/*3 container*/
.container_3 {
    margin-top: 50px;
    border-radius: 20px;
    background-color: #111827;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.e1 h1 {
    background: linear-gradient(green, lightgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.e1 {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.e2 {
    display: flex;
    justify-content: space-between;
}

.e3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right, green 0%, green 0%) no-repeat;
    background-size: 0 100%;
    border-radius: 20px;
    border-left: 5px solid green;
    height: 80px;
    width: 300px;
}

.e3:hover {
    background-size: 100% 100%;
}

.e3 h3 {
    margin-left: 10px;
}
.r3 a{
    color: #2563EB;
}
.r3 a:visited{
    color: #6b7280;
}
.r3 a:hover{
    background: linear-gradient(to right, blue, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000a40;
    height: 400px;
}

.container_4 {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.info_1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
}

.cont {
    width: 25%;
}

.r1 img {
    margin-right: 15px;
}

.r1 h3 {
    color: #9CA3AF;
}

.r2, .r3 {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r4 {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r2 h2, .r4 h2, .r3 h2 {
    color: white;
}

.r2 a, .r3 p {
    color: #9CA3AF;
}

.r2 a:hover, .r3 p:hover {
    color: blue;
}

.t1 {
    border-radius: 20px;
    border: 0;
    width: 80%;
    height: 30%;
}

.t2 {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    height: 30%;
    background-color: red;
    width: 80%;
}

.image_logo {
    width: 90px;
}

@media (max-width: 700px) {
    .image_logo {
        width: 50px;
    }

    .main_content {
        height: auto;
    }

    .logo {
        width: 50px;
    }

    .community {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 50%;
    }

    .navbar a {
        font-size: 13px;
    }

    .header {
        height: 40px;
    }

    .community {
        width: 100px;
        height: 20px;
    }

    .button {
        font-size: 8px;
        width: 100px;
        height: 15px;
    }

    .q1 {
        font-size: 8px;
        width: 90px;
        height: 15px;
    }

    .box h1 {
        font-size: 13px;
    }

    .q2 {
        font-size: 8px;
    }

    .box a {
        width: 70px;
        height: 15px;
        font-size: 8px;
    }

    .item {
        width: 200px;
        height: 200px;
        font-size: 8px;
    }

    .item:hover {
        font-size: 10px;
    }

    .item:hover .size {
        font-size: 45px;
    }

    .size {
        font-size: 40px;
    }

    .item.box_1 {
        border-top: 4px blue solid;
    }

    .item.box_2 {
        border-top: 4px red solid;
    }

    .item.box_3 {
        border-top: 4px #a6a60b solid;
    }

    .item.box_4 {
        border-top: 4px #000091 solid;
    }

    .item:hover .w1 h1 {
        font-size: 18px;
    }

    .item:hover .w1 p {
        font-size: 9px;
    }

    .container_1 {
        height: 250px;
        margin-bottom: 50px;
    }

    .container_2 {
        gap: 40px;
        width: 80%;
        margin-bottom: 50px;
    }

    .container_3 {
        width: 50%;
        margin-bottom: 50px;
        height: auto;

    }

    .e1 {
        text-align: center;
    }

    .e1 h1 {
        font-size: 15px;
    }

    .e2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .e3 {
        margin-top: 10px;
        width: 200px;
        height: 50px;
        font-size: 10px;
    }
    /*footer*/
    .footer {
        height: auto;
        padding: 40px 0;
    }

    .container_4 {
        width: 90%;
        height: auto;
    }

    .info {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        height: auto;
    }

    .cont {
        width: 45%;
        text-align: center;
    }
    .r4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .t2{
        font-size: 15px;
    }
    .r4 input.t1,
    .r4 button.t2 {
        width: 60%;
        height: 30px;
    }

    .info_1 {
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .image_logo {
        width: 30px;
    }

    .main_content {
        height: auto;
    }

    .logo {
        width: 30px;
    }

    .community {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 50%;
    }

    .navbar a {
        font-size: 6px;
    }

    .header {
        height: 40px;
    }

    .community {
        width: 50px;
        height: 20px;
    }

    .button {
        font-size: 5px;
        width: 50px;
        height: 10px;
    }

    .q1 {
        font-size: 8px;
        width: 90px;
        height: 15px;
    }

    .box h1 {
        font-size: 13px;
    }

    .q2 {
        font-size: 8px;
    }

    .box a {
        width: 70px;
        height: 15px;
        font-size: 8px;
    }

    .item {
        width: 150px;
        height: 150px;
        font-size: 8px;
    }

    .item:hover {
        font-size: 10px;
    }

    .item:hover .size {
        font-size: 45px;
    }

    .size {
        font-size: 40px;
    }

    .item.box_1 {
        border-top: 4px blue solid;
    }

    .item.box_2 {
        border-top: 4px red solid;
    }

    .item.box_3 {
        border-top: 4px #a6a60b solid;
    }

    .item.box_4 {
        border-top: 4px #000091 solid;
    }

    .item:hover .w1 h1 {
        font-size: 18px;
    }

    .item:hover .w1 p {
        font-size: 9px;
    }

    .container_1 {
        height: 250px;
        margin-bottom: 50px;
    }

    .container_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .container_3 {
        width: 100%;
        margin-bottom: 50px;
        height: auto;

    }

    .e1 {
        text-align: center;
    }

    .e1 h1 {
        font-size: 15px;
    }

    .e2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .e3 {
        margin-top: 10px;
        width: 200px;
        height: 50px;
        font-size: 10px;
    }

    .footer {
        height: auto;
        padding: 40px 0;
    }

    .container_4 {
        width: 90%;
        height: auto;
    }

    .info {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        height: auto;
    }

    .cont {
        width: 45%;
        text-align: center;
    }

    .r4 input.t1,
    .r4 button.t2 {
        width: 80%;
        height: 30px;
    }

    .info_1 {
        margin-top: 20px;
    }
}