.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000a40;
    height: 400px;
}

.container_4 {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.info_1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
}

.cont {
    width: 25%;
}

.r1 img {
    margin-right: 15px;
}

.r1 h3 {
    color: #9CA3AF;
}

.r2, .r3 {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r4 {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r2 h2, .r4 h2, .r3 h2 {
    color: white;
}

.r2 a, .r3 p {
    color: #9CA3AF;
}

.r2 a:hover, .r3 p:hover {
    color: blue;
}

.t1 {
    border-radius: 20px;
    border: 0;
    width: 80%;
    height: 30%;
}

.t2 {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    height: 30%;
    background-color: red;
    width: 80%;
}

* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #000a40;
    border-bottom: solid 2px #010b50;
}

a {
    text-decoration: none;
}

.navbar a:hover {
    color: #2563EB;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navbar a {
    font-weight: 800;
    font-family: "Book Antiqua";
    color: white;
}

.community {
    width: 200px;
}

.button {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    background-color: red;
    color: white;
}

/*main content*/

.main_content {
    height: 1650px;
    width: 80%;
}

.container_1 {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #282828;
    background-color: #111111;
}

.container_1_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 80%;
    height: 60%;
}

.container_1_content h1 {
    font-size: 50px;
    font-family: "Bookman Old Style";
}

.container_2 {
    color: white;
    margin-top: 30px;
    height: 50px;
    border-bottom: #2563EB 2px solid;
}

.container_3 {
    margin-top: 30px;
    border-radius: 20px;
    height: 400px;
    border: 2px solid #282828;
    background-color: #111111;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.box1 {
    height: 100%;
    width: 30%;
    background-size: cover;
    background-image: url("https://cdn.mos.cms.futurecdn.net/tu45v99xBZgDt8hAzut5mC-970-80.jpg.webp");
    background-position: bottom;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 70%;
}

.box2_child {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_box p {
    font-size: 10px;
}

.content_box {
    color: white;
    height: 20px;
    width: 100px;
    border-radius: 10px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2_child h1 {
    color: white;
}

.content_box2{
    gap: 30px;
    display: flex;
    width: 500px;
    height: auto;
    align-items: center;
}
.zero{
    display: flex;
    gap: 10px;
}
.content_box2 strong{
    color: white;
}
.content_box2 h3{
    color: #9CA3AF;
}
.box2_child h1:hover {
    color: #2563EB;
}


.container_5{
    margin-top: 30px;
    height: 700px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.news_card {
  display: flex;
  background: #111827;
  border-radius: 14px;
  overflow: hidden;
  height: 200px;
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.1);
}

.news_card:hover {
    margin-bottom: 5px;
  box-shadow: 0 0 25px rgba(0, 255, 136, 0.3);
}

.news_img {
    background-size: cover;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #0b0e14;
}

.news_content {
  padding: 15px 20px;
    width: 80%  ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news_card a:hover h1{
    color: #00ff88;
}
.news_tag {
  color: #00ff88;
  font-weight: 600;
  font-size: 14px;
}

.news_content h1 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.news_content p {
  font-size: 14px;
  color: #a3a3a3;
}

.news_meta {
  font-size: 13px;
  color: #6b7280;
}