
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000a40;
    height: 400px;
}
.r3 a{
    color: #2563EB;
}
.r3 a:visited{
    color: #6b7280;
}
.r3 a:hover{
    background: linear-gradient(to right, blue, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container_4 {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.info_1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
}

.cont {
    width: 25%;
}

.r1 img {
    margin-right: 15px;
}

.r1 h3 {
    color: #9CA3AF;
}

.r2, .r3 {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r4 {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r2 h2, .r4 h2, .r3 h2 {
    color: white;
}

.r2 a, .r3 p {
    color: #9CA3AF;
}

.r2 a:hover, .r3 p:hover {
    color: blue;
}

.t1 {
    border-radius: 20px;
    border: 0;
    width: 80%;
    height: 30%;
}

.t2 {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    height: 30%;
    background-color: red;
    width: 80%;
}

* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #000a40;
    border-bottom: solid 2px #010b50;
}

a {
    text-decoration: none;
}

.navbar a:hover {
    color: #2563EB;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navbar a {
    font-weight: 800;
    font-family: "Book Antiqua";
    color: white;
}

.community {
    width: 200px;
}

.button {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    background-color: red;
    color: white;
}
.container_1 {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #282828;
    background-color: #111111;
}
.container_1_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 80%;
    height: 60%;
}

.container_1_content h1 {
    font-size: 50px;
    font-family: "Bookman Old Style";
}
.container_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 220px;
    border-radius: 20px;
    border-top: #00ff88 solid 5px;
    background-color: #0d1548;
}
.container_2_child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 80%;

}
.container_2_child a{
    padding: 5px 0 5px 5px;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
}
.container_2_child a:hover{
    background-color: #6b7280;
}
.container_2_content{
    font-family: "Bookman Old Style";
    color: white;
    height: 50px;
    border-bottom: #6b7280 2px solid;
}
.main_content {
    height: auto;
    width: 80%;
}
.table_main {
    width: 100%;
    margin-top: 50px;
    color: #e5e7eb;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table_content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content_month {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.content_count {
    color: #9ca3af;
    font-size: 16px;
}

.underline {
    margin-top: 20px;
    border-bottom: 2px solid #06b6d4;
}

.table {
        height: 400px;
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 100%;

}

.table thead {
    color: #9ca3af;
    font-size: 0.9rem;
    text-align: left;
}

.table th {
    padding: 10px 15px;
    font-weight: 600;
}

.table tbody tr {
    background-color: #111827;
    padding: 20px 0;
}

.table tbody tr:hover {
    background-color: #1f2937;
}

.table td {
    padding: 20px;
    border-collapse: collapse;
}

.month {
    color: #06b6d4;
    width: 15%;
}


.name_text {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 3px;
}

.genre_text {
    color: #9ca3af;
    font-size: 0.85rem;
}

.devices {
    width: 80%;
    text-align: left;
    display: flex;
    gap: 10px;
}

.score{
    width: 15%;
}

.score-badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    color: white;
}

.score-badge.red {
    background-color: #dc2626;
}

.score-badge.yellow {
    background-color: #ca8a04;
}

.score-badge.blue {
    background-color: #2563eb;
}
.image_logo{
    width: 90px;
}
.devices img{
    width: 30px;
}
@media (max-width: 700px) {
    .info_1 {
        margin-top: 20px;
    }

    .container_1_content h1 {
        font-size: 35px;
    }

    .container_1_content h3 {
        font-size: 13px;
    }

    .image_logo {
        width: 50px;
    }

    .main_content {
        height: auto;
    }

    .logo {
        width: 50px;
    }

    .community {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 50%;
    }

    .navbar a {
        font-size: 13px;
    }

    .header {
        height: 40px;
    }

    .community {
        width: 100px;
        height: 20px;
    }

    .button {
        font-size: 8px;
        width: 100px;
        height: 15px;
    }

    .footer {
        height: auto;
        padding: 40px 0;
    }

    .container_4 {
        width: 90%;
        height: auto;
    }

    .info {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        height: auto;
    }

    .cont {
        width: 45%;
        text-align: center;
    }

    .r4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .t2 {
        font-size: 15px;
    }

    .r4 input.t1,
    .r4 button.t2 {
        width: 60%;
        height: 30px;
    }
        .devices{
        flex-wrap: wrap;
    }
}
@media (max-width: 400px) {
    .info_1 {
        margin-top: 20px;
    }

    .container_1_content h1 {
        font-size: 25px;
    }

    .container_1_content h3 {
        font-size: 10px;
    }

    .image_logo {
        width: 30px;
    }

    .main_content {
        height: auto;
    }

    .logo {
        width: 30px;
    }

    .community {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 50%;
    }

    .navbar a {
        font-size: 6px;
    }

    .header {
        height: 40px;
    }

    .community {
        width: 50px;
        height: 20px;
    }

    .button {
        font-size: 5px;
        width: 50px;
        height: 10px;
    }

    .footer {
        height: auto;
        padding: 40px 0;
    }

    .container_4 {
        width: 90%;
        height: auto;
    }

    .info {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        height: auto;
    }

    .cont {
        width: 45%;
        text-align: center;
    }
    .month{
        font-size: 10px;
    }
    .r4 input.t1,
    .r4 button.t2 {
        width: 80%;
        height: 30px;
    }
    .devices{
        flex-wrap: wrap;
    }
    .name_text{
        font-size: 10px;
    }
    .genre_text{
        font-size: 8px;
    }
    .devices img{
        width: 15px;
    }
    .col_date, .col_platform, .col_title{
        font-size: 10px;
    }
    .content_month{
        font-size: 15px;
    }
    .content_count{
        font-size: 10px;
    }
}
