.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000a40;
    height: 400px;
}

.container_4 {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

.info_1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15%;
}

.cont {
    width: 25%;
}

.r1 img {
    margin-right: 15px;
}

.r1 h3 {
    color: #9CA3AF;
}

.r2, .r3 {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r4 {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.r2 h2, .r4 h2, .r3 h2 {
    color: white;
}

.r2 a, .r3 p {
    color: #9CA3AF;
}

.r2 a:hover, .r3 p:hover {
    color: blue;
}

.t1 {
    border-radius: 20px;
    border: 0;
    width: 80%;
    height: 30%;
}

.t2 {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    height: 30%;
    background-color: red;
    width: 80%;
}

* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #000a40;
    border-bottom: solid 2px #010b50;
}

a {
    text-decoration: none;
}

.navbar a:hover {
    color: #2563EB;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navbar a {
    font-weight: 800;
    font-family: "Book Antiqua";
    color: white;
}

.community {
    width: 200px;
}

.button {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    background-color: red;
    color: white;
}

/*main content*/
.main_content {
    height:1700px;
    width: 80%;
}

.container_1 {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #282828;
    background-color: #111111;
}

.container_1_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 80%;
    height: 60%;
}

.container_1_content h1 {
    font-size: 50px;
    font-family: "Bookman Old Style";
}
.container_2 {
    color: white;
    margin-top: 30px;
    height: 50px;
    border-bottom: red 2px solid;
}

.container_3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 750px;
}
.container_3_box{
    height: 200px;

    border-radius: 15px;
    border: 2px solid #282828;
    background-color: #080d2c;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container_3_box:hover{
    background-color: #0c1442;
}
.score h2{
    font-family: "Arial Narrow";
}
.text_content h1{
    color: white;
}

.text_content h1:hover {
    color: #00ff88;
}
.score{
    color: white;
    font-size: 20px;

    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #00ff88;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game_img{
    border-radius: 10px;
    width: 150px;
    height: 80px;
    background-size: cover;
}
.text_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 150px;
}
.container_5{
    margin-top: 30px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1548;
    border-radius: 15px;
    border-top: #00ff88 solid 5px;
}
.container_5_child{
    position: relative;
    scrollbar-width: none;
    overflow: auto;
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.main_text{

    background-color: #0d1548;
    position: sticky;
    top: 0;
    align-items: center;
    display: flex;
}
.main_text h1{
    color: white;
    margin-left: 20px;
    display: flex;
}
.list_info{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.score_small{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00ff88;
    font-family: "Arial Narrow";
}
.list_info h2{
    margin-top: 10px;
    color: #9CA3AF;
}
.list_info h2:hover{
    color: #00ff88;
}