/*default style*/
* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

body {
    background: #151515;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: #000a40;
    border-bottom: solid 2px #010b50;
}

a {
    text-decoration: none;
}

.navbar a:hover {
    color: #2563EB;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.navbar a {
    font-weight: 800;
    font-family: "Book Antiqua";
    color: white;
}

.community {
    width: 200px;
}

.button {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400px;
    background-color: red;
    color: white;
}

/*main content*/

.main_content {
    margin-top: 150px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    background: linear-gradient(to right, #0c1442 0%, #172779 50%, #0c1442 100%);
}
.main_text{
    color: white;
    font-family: Arial, sans-serif;
}
#email, #password{
    width: 350px;
    height: 40px;
    border-radius: 10px;
}
.content_input{
    display: flex;
    flex-direction: column;
    color: white;
}
.button_form{

    background-color: #00ff88;
    color: black;
    width: 120px;
    border-radius: 8px;
    height: 30px;
}
.button_form:hover{
    border: none;
    box-shadow: 0 0 8px 0 #00ff88;
}
.content_check{
    color:white;
    width: 350px;
    display: flex;
    gap: 10px;
}
#checkbox{
    width: 15px;
    height: 15px;
}
.image_logo{
    width: 90px;
}
@media (max-width: 700px) {
    .info_1 {
        margin-top: 20px;
    }

    .container_1_content h1 {
        font-size: 35px;
    }

    .container_1_content h3 {
        font-size: 13px;
    }

    .image_logo {
        width: 50px;
    }

    .main_content {
        height: auto;
    }

    .logo {
        width: 50px;
    }

    .community {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 50%;
    }

    .navbar a {
        font-size: 13px;
    }

    .header {
        height: 40px;
    }

    .community {
        width: 100px;
        height: 20px;
    }

    .button {
        font-size: 8px;
        width: 100px;
        height: 15px;
    }

    .footer {
        height: auto;
        padding: 40px 0;
    }

    .container_4 {
        width: 90%;
        height: auto;
    }

    .info {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        height: auto;
    }

    .cont {
        width: 45%;
        text-align: center;
    }

    .r4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .t2 {
        font-size: 15px;
    }

    .r4 input.t1,
    .r4 button.t2 {
        width: 60%;
        height: 30px;
    }
}
@media (max-width: 400px) {
    .info_1 {
        margin-top: 20px;
    }

    .container_1_content h1 {
        font-size: 25px;
    }

    .container_1_content h3 {
        font-size: 10px;
    }

    .image_logo {
        width: 30px;
    }

    .main_content {
        height: auto;
    }

    .logo {
        width: 30px;
    }

    .community {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        width: 50%;
    }

    .navbar a {
        font-size: 6px;
    }

    .header {
        height: 40px;
    }

    .community {
        width: 50px;
        height: 20px;
    }

    .button {
        font-size: 5px;
        width: 50px;
        height: 10px;
    }

    .footer {
        height: auto;
        padding: 40px 0;
    }

    .container_4 {
        width: 90%;
        height: auto;
    }

    .info {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-around;
        height: auto;
    }

    .cont {
        width: 45%;
        text-align: center;
    }

    .month {
        font-size: 10px;
    }
    .main_content{
        margin-top: 80px;
    }
    .r4 input.t1,
    .r4 button.t2 {
        width: 80%;
        height: 30px;
    }
    .main_form{
        height: 200px;
        width: 200px;
    }
    .main_text{
        font-size: 15px;
    }
    .content_check{
        display: flex;
        align-items: center;
    }
    .content_input, .content_check{
        width: 150px;
    }
    .content_input label, .content_check label{
        font-size: 8px;
    }
    #email, #password{
        width: 150px;
        height: 20px;
    }
    .button_form{
        height: 25px;
        width: 75px;
    }
}